# compiled output
file-app/dist
file-app/node_modules
file-app/tmp
file-app/out-tsc
# IDEs and editors
### VS Code ###
file-app/.vscode/
file-app/.vscode/*
file-app/!.vscode/settings.json
file-app/!.vscode/tasks.json
file-app/!.vscode/launch.json
file-app/!.vscode/extensions.json
file-app/.history/*
### IDEA #####
.idea
FileserverBack/.idea
FileserverBack/*.iws
FileserverBack/*.iml
FileserverBack/*.ipr
FileserverBack/HELP.md
FileserverBack/target/
FileserverBack/!.mvn/wrapper/maven-wrapper.jar
FileserverBack/!**/src/main/**/target/
FileserverBack/!**/src/test/**/target/
FileserverBack/**/src/main/resources/application.yaml