<app-carousel></app-carousel>
<br>
<div class="row">
    <div class="col-12">
        <div class="card bg-dark text-white border-primary">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Search file ...">
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Loading</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Please wait</p>
        </div>
    </div>
</div>
<div class="card bg-dark text-white border-primary">
    <div class="card-header">
        Total files 0
    </div>
    <div class="card-body">
        <div>
            <button class="btn btn-primary">Load</button>
        </div>
        <br>
        <div class="table-responsive">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Play</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Created</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>