<div class="backgroung-modal-image"
      [class.oculto]="modalFileService.hideModal">

    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="false" style="display: block;">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Load File
                        <i class="fa fa-arrow-up" aria-hidden="true"></i>
                    </h5>
                  
                    
                </div>
                <div class="modal-body">
                    <h3>Select file 
                     <i class="fa fa-file-archive" aria-hidden="true"></i>    
                    </h3>
                    <input #myInputFile
                           type="file"
                           (change)="chooseFile($any($event.target).files[0])">
                   <div>
                    <br>
                        <div *ngIf="progress > 0" class="progress">
                              <div class="progress-bar progress-bar-striped progress-bar-animated" 
                                   role="progressbar" 
                                   aria-valuenow="75" 
                                   aria-valuemin="0" 
                                   aria-valuemax="100" 
                                   [ngStyle]="{width: progress +'%'}" >{{progress}} %</div>
                        </div>
                   </div>
                  
                                 
                   
                </div>
                <div class="modal-footer">
                    <button type="button" 
                            class="btn btn-secondary" 
                            data-bs-dismiss="modal"
                            (click)="closeModal()">Close</button>
                    <button type="button" 
                            class="btn btn-primary"
                            [disabled]="!modalFileService.fileModal.size"
                            (click)="uploadImage()">Load File
                             <i class="fa fa-arrow-circle-up" aria-hidden="true"></i> 
                           </button>
                </div>
            </div>
        </div>
    </div>

</div>